/*
 * mozilla.css_t
 * ~~~~~~~~~~~~~
 *
 * Sphinx stylesheet -- Mozilla theme, based on the nature theme.
 *
 * :copyright: Copyright 2012 Alexis Metaireau.
 * :license: BSD
 */

@import url("https://www.mozilla.org/tabzilla/media/css/tabzilla.css");
@import url("basic.css");

div.sphinxsidebar {
  float: left;
  margin-left: 0px;
  opacity: 1;
  float: left;
  margin: 0 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.sphinxsidebar h2 {
  text-align: center;
  font-size: 24px;
}
.sphinxsidebar h2 img {
  display: block;
  margin: 0 auto 5px auto;
}
.sphinxsidebar h2 a {
  color: #484848;
}
.sphinxsidebar nav {
  font-family: 'OpenSansLight', sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin: auto;
  margin-top: 120px;
  margin-right: 20px;
}
.sphinxsidebar nav ul {
  margin: 0;
}
.sphinxsidebar nav ul li {
  list-style-type: none;
  margin: 0;
}
.sphinxsidebar nav ul li li {
}
.sphinxsidebar nav ul li.current,
.sphinxsidebar nav ul li.toctree-l1:hover {
  display: block;
  background: rgba(255, 255, 255, 0.5);
}
.sphinxsidebar nav ul li.current .current {
  background: rgba(255, 255, 255, 0.9);
}
.sphinxsidebar nav ul li.path > a {
  font-family: 'OpenSans', sans-serif;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #484848;
}
.sphinxsidebar nav ul li.current > ul > li {
  display: block;
}
.sphinxsidebar nav a,
.sphinxsidebar nav b {
  display: block;
  padding: 10px 25px 10px 15px;
  color: #000;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.sphinxsidebar nav b {
  font-weight: normal;
  color: #484848;
}
.sphinxsidebar nav > ul > li {
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
}
.sphinxsidebar nav > ul > li:first-child {
  border-top: 0;
}
.sphinxsidebar nav > ul > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.sphinxsidebar nav > ul > li.current:first-child {
  background-color: transparent;
}
.sphinxsidebar nav > ul > li.current:first-child a:only-child {
  background-image: none;
}

div.sphinxsidebar h3,
div.sphinxsidebar h4 {
    text-transform: uppercase;
    font-family: 'OpenSans',sans-serif;
    color: #222;
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
    padding: 5px 10px;
}

div.sphinxsidebar ul {
    margin: 10px 20px;
    padding: 0;
    color: #000;
}

div.sphinxsidebar ul>li {
    list-style-type: none;
}

div.admonition p.admonition-title + p {
    display: inline;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
}

div.topic {
    background-color: #eee;
}

div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
}

p.admonition-title {
    display: inline;
}

p.admonition-title:after {
    content: ":";
}