h1 {
  font-size:30px !important;
}
h2 {
  font-size:25px !important;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

iframe{
  width:100%;
  height:1000px; /* couldnt find a better way */
  margin-bottom:10px;
}

.bs-sidenav .nav > li > a.current{
  font-style: oblique;
  background-color: #e5e3e9;
}
.toctree-l1{
  font-weight:600;
}
.toctree-l2{
  font-weight:400;
}

.center-div {
  	margin-left: auto;
	margin-right: auto;
	display: block;

}

.navbar-brand span img {
  height:35px;
}
